/*General Rules*/
html{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}/*
*,*:after,*:before{
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	-o-box-sizing: inherit;
	
}*/
ul{
    list-style: none
}
a{
    text-decoration: none;
    color: #f4cc5b
}
h2{
    color: #f4cc5b;
    font-family: 'Indie Flower', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Domine', serif;
    text-align: left
}
p{
    font-family: 'Indie Flower', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Domine', serif;;
    line-height: 1.7;
    text-align: justify
}
/*start header*/
header{
    
}
header nav{
    background-color: #333;
    color: #FFF
}
header nav .logo{
    padding-top: 10%;
    padding-bottom: 10%
}
header nav .nanbar{
    text-align: left;
    display: none
}
header nav .nanbar ul{
    padding-left: 0;
}
header nav .nanbar li {
    border: 1px solid #FFF;
    margin-top: 5%;
    padding: 1%
}
/*end header*/
/*start slider*/
.bx-wrapper .bx-pager.bx-default-pager a{
    background-color: #efb719 !important
}
.bx-wrapper .bx-pager.bx-default-pager a:focus{
    background-color: #f4cc5b !important
}
.bxslider img{
	width: 100%
}
/*end slider*/

/*start about us*/
.about{
    
}
.about .row .col img{
    width: 100%
}
.about .row .col h2{
    color: #f4cc5b;
    font-family: 'Indie Flower', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Domine', serif;
}
.about .row .col span{
    font-family: 'Indie Flower', cursive;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    
}

.about .row .col button{
    background: 0;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 15px;
    border-right: transparent;
    font-family: 'Indie Flower', cursive;
    font-family: 'Dancing Script', cursive;
    
}
.about .row .col button:hover,
.about .row .col button:focus{
    font-weight: bold
}
.about .row .col button .svg-inline--fa{
    background-color: #f4cc5b;
    border-radius: 0 20px 20px 0;
    padding: 5px 10px;
    margin: -6px -1px;
    margin-right: -10px
}
/*end about us*/
/*start dishes*/
.dishes{
    padding-top: 5%;
    
}
.dishes ul{
    padding-left: 0;
    margin-bottom: 25px
}
.dishes ul li{
    display: inline-block;
    margin-right: 7px;
    font-size: 17px;
    font-family: 'Indie Flower', cursive;
    font-family: 'Dancing Script', cursive;
}
.dishes .mix{
    position: relative
}
.dishes img{
    width: 332px;
    height: 200px;
    margin-bottom: 10px;
    
}
/*end dishes*/

/*start testimonials*/
.testimonials{
    background-color: #333;
    padding-top: 10%;
    padding-bottom: 5%;
    margin-top: 10%
}
.testimonials span{
    color: #fff;
    font-family: 'Indie Flower', cursive;
    font-family: 'Dancing Script', cursive;
}
.testimonials .row .col {
    margin-top: 10%;
    
}
.testimonials .row .col .review{
    background-color: #fff;
    padding: 3%;
    border-radius: 5px
}

.testimonials .row .col p{
    text-align: center
}
.testimonials .row .col .triangle{
    width: 0;
    border-top: 20px solid #FFF;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    margin: auto
}
.testimonials .row .col .client{
    margin-top: 5%
}
.testimonials .row .col img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.testimonials .row .col .name{
    color: #ffc728;
     font-family: 'Indie Flower', cursive;
    font-family: 'Dancing Script', cursive;
}
/*end testimonials*/

/*start subscribe*/
.subscribe{
    background-color: #f4cc5b;
    padding: 10% 0
}
.subscribe .title{
    margin-bottom: 5%;
    text-transform:capitalize;
    color: #f5f5f5;
    font-size: 25px
}
.subscribe input{
    background: none;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #fff;
    font-size: 15px
}
.subscribe input[type='button']{
    background-color: #fff;
    color: #f4cc5b
}
::placeholder{
    color: #f5f5f5;
}
/*end subscribe*/

/*start reservation*/
.book{
    background-image: url(../images/our%20restaurant.jpg);
    background-size: cover;
    height:300px;
    padding-top: 5%
}
.book h2{
    text-align: center;
    font-size: 30px
}
.book span{
    color: #fff;
    font-family: 'Indie Flower', cursive;
    font-family: 'Dancing Script', cursive;
}
/*end reservation*/





















/*My Framework*/
.container{
    width: 80%;
    margin: auto;
    
}
.overlay{
    position:absolute;
    background: rgba(51,51,51,.4);
    top: 150px;
    right: 0;
    left:0;
    height: 50px;
    width: 332px;
    color: #fff;
    font-family: 'Indie Flower', cursive;
    font-family: 'Dancing Script', cursive;
    line-height: 2.5
    
}
.text-center{
    text-align: center
}
.clear{
    clear: both
}
.separator{
	border: 1px solid #DDD;
	width: 140px;
	margin: auto
}
.active{
    color: #f4cc5b !important;
    text-decoration: underline
}
.nav-bg{
	background: #333
}

/**************************************Media Query***********************************/

/*Media Queiry*/
@media screen and (max-width:767px){/*small screen - mobile*/
	
    
    
}
@media screen and (min-width:768px) and (max-width:990px){ /*medium screen - tablets*/
	
	
	
		
}
@media screen and (min-width:991px) and (max-width:1199px){/*Large screen*/
	.domain .plan ul li{
        padding: 4%;
        
    }
}
@media screen and (min-width:1200px){
    
}